# Specifies files to intentionally ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
www/build/
platforms/
plugins/
*.swp
.DS_Store
Thumbs.db
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
